<!-- Main Body-->
<div class="d2c_main p-4 ps-lg-3">

    <!-- Title -->
    <h4 class="mb-4 text-capitalize">Transaction</h4>
    <!-- End:Title -->

    <div class="row">
        <div class="col-12">
            <div class="card h-auto d2c_projects_datatable">
                <div class="card-header">
                    <h6>Payment Data</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive table-responsive">
                        <table class="table" id="d2c_advanced_table_2">
                            <thead>
                                <tr>
                                    <th style="min-width: 150px;">Date</th>
                                    <th style="min-width: 150px;">Client Name</th>
                                    <th style="min-width: 130px;">Account</th>
                                    <th style="min-width: 130px;">Account Number</th>
                                    <th style="min-width: 150px;">Transaction ID</th>
                                    <th style="min-width: 130px;">Amount</th>
                                    <th class="text-center text-primary" style="min-width: 50px;"><i class="fas fa-ellipsis-h"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>20 Mar 2023</td>
                                    <td>Jane Cooper</td>
                                    <td>Paypal</td>
                                    <td>58755780</td>
                                    <td>1259983MN421ER9H</td>
                                    <td>$4,582.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>22 Mar 2023</td>
                                    <td>Lina Davis</td>
                                    <td>Payoneer</td>
                                    <td>34755870</td>
                                    <td>4359983MN421ER9H</td>
                                    <td>$3,582.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>26 Mar 2023</td>
                                    <td>Terry Acker</td>
                                    <td>Payoneer</td>
                                    <td>58342780</td>
                                    <td>7859983MN421ER9H</td>
                                    <td>$2,456.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>28 Mar 2023</td>
                                    <td>Pedro Myers</td>
                                    <td>Paypal</td>
                                    <td>37755908</td>
                                    <td>1259983MN421ET50</td>
                                    <td>$2,582.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>29 Mar 2023</td>
                                    <td>Cory Cash</td>
                                    <td>Payoneer</td>
                                    <td>25875562</td>
                                    <td>1259983MN421ER9T</td>
                                    <td>$5,362.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1 April 2023</td>
                                    <td>Fred Proctor</td>
                                    <td>Paypal</td>
                                    <td>18655657</td>
                                    <td>1259983MN421TY9E</td>
                                    <td>$1,582.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2 April 2023</td>
                                    <td>Fred B. Proctor</td>
                                    <td>Payoneer</td>
                                    <td>43755231</td>
                                    <td>1259983MN421RF7W</td>
                                    <td>$7,582.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6 April 2023</td>
                                    <td>Thomas Fargo</td>
                                    <td>Paypal</td>
                                    <td>56289231</td>
                                    <td>1259983MN421WK7Y</td>
                                    <td>$4,582.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10 April 2023</td>
                                    <td>Alfred Brown</td>
                                    <td>Payoneer</td>
                                    <td>76755234</td>
                                    <td>1259983MN421IK8D</td>
                                    <td>$4,456.30</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>11 April 2023</td>
                                    <td>Jane Cooper</td>
                                    <td>Payoneer</td>
                                    <td>87695342</td>
                                    <td>1259983MN421BJ9P</td>
                                    <td>$5,234.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>20 April 2023</td>
                                    <td>Toby Kellum</td>
                                    <td>Payoneer</td>
                                    <td>89765454</td>
                                    <td>1259983MN421IS82</td>
                                    <td>$4,582.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>26 April 2023</td>
                                    <td>Ken Davis</td>
                                    <td>Paypal</td>
                                    <td>36786345</td>
                                    <td>1259983MN421GH7R</td>
                                    <td>$3,908.30</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>29 April 2023</td>
                                    <td>Jane Cooper</td>
                                    <td>Paypal</td>
                                    <td>34565345</td>
                                    <td>1259983MN421ER9T</td>
                                    <td>$2,343.39</td>
                                    <td class="text-center">
                                        <div class="dropdown">
                                            <button class="btn text-primary bg-transparent border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="fas fa-ellipsis-h"></i>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:Main Body -->
