body { 
    height: 1000px;
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}
header, footer { 
    background-color: #f2f2f2; 
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    text-align: center; 

}

nav {
    margin-top: 20px;

}

nav a {
    margin: 0 1rem;
    text-decoration: none; 
    color: #333; 
    font-weight: bold;
    font-size: large;
}

nav a:hover {
    color: #bb4545;
    margin-top: 0.08rem;
}

main { 
    padding: 1rem; 
}
h1, h2, h3 { 
    margin: 0.5rem 0; 
}
form input, form select, form button { 
    margin: 0.3rem 0; 
    display: block; 
}