{{ define "title" }}Dashboard{{ end }}

{{ define "content" }}
<div class="row d2c_home_card">
    <div class="col-xxl-9">
        <div class="row">
            <!-- Income Card -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-8">
                                <div class="btn rounded shadow text-primary">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <div class="dropdown">
                                    <button class="btn px-1 d2c_dropdown_btn" type="button" id="dropdownMenuButton11" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu d2c_dropdown" aria-labelledby="dropdownMenuButton11">
                                        <li><a class="dropdown-item" href="#">Premium</a></li>
                                        <li><a class="dropdown-item" href="#">Regular</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <h6>Income</h6>
                        <p>Last Month</p>

                        <h4 class="text-primary mb-0">$24,977.05</h4>
                    </div>
                </div>
            </div>

            <!-- Total Spent -->
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-8">
                                <div class="btn rounded shadow text-primary">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <div class="dropdown">
                                    <button class="btn px-1 d2c_dropdown_btn" type="button" id="dropdownMenuButton11" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu d2c_dropdown" aria-labelledby="dropdownMenuButton11">
                                        <li><a class="dropdown-item" href="#">Premium</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <h6>Total Spent</h6>
                        <p>Last Month</p>

                        <h4 class="text-primary mb-0">$16,547.59</h4>
                    </div>
                </div>
            </div>

            <!-- Transactions -->
            <div class="col-xl-4 col-md-6 mb-4 ">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-8">
                                <div class="btn rounded shadow text-primary">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <div class="dropdown">
                                    <button class="btn px-1 d2c_dropdown_btn" type="button" id="dropdownMenuButton11" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu d2c_dropdown" aria-labelledby="dropdownMenuButton11">
                                        <li><a class="dropdown-item" href="#">Premium</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <h6>Transactions</h6>
                        <p>Last Month</p>

                        <h4 class="text-primary mb-0">$90,548.23</h4>
                    </div>
                </div>
            </div>

            <!-- TODO -->
            <!-- Investments -->
            <!-- Total Cashback -->
            <!-- <div class="col-xl-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-8">
                                <div class="btn rounded shadow text-primary">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <div class="dropdown">
                                    <button class="btn px-1 d2c_dropdown_btn" type="button" id="dropdownMenuButton11" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu d2c_dropdown" aria-labelledby="dropdownMenuButton11">
                                        <li><a class="dropdown-item" href="#">Premium</a></li>
                                        <li><a class="dropdown-item" href="#">Regular</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <h6>Total Cashback</h6>
                        <p>Last Month</p>

                        <h4 class="text-primary mb-0">$8,548.23</h4>
                    </div>
                </div>
            </div>

            <!-- Investment -->
            <!-- <div class="col-xl-4 col-md-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-8">
                                <div class="btn rounded shadow text-primary">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <div class="dropdown">
                                    <button class="btn px-1 d2c_dropdown_btn" type="button" id="dropdownMenuButton11" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                    <ul class="dropdown-menu d2c_dropdown" aria-labelledby="dropdownMenuButton11">
                                        <li><a class="dropdown-item" href="#">Premium</a></li>
                                        <li><a class="dropdown-item" href="#">Regular</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <h6>Investment</h6>
                        <p>Last Month</p>

                        <h4 class="text-primary mb-0">$22,548.23</h4>
                    </div>
                </div>
            </div> -->

            <!-- <div class="row"> -->
                <div class="col-xl-6 mb-4">
                    <!-- Balance -->
                    <div class="card">
                        <div class="card-header">
                            <h6>Balance</h6>
                            <h4 class="text-primary">$12,389.54</h4>
                        </div>
                        <div class="card-body">
                            <div id="d2c_barChart"></div>
                        </div>
                    </div>
                    <!-- End:Balance -->
                </div>

                <div class="col-xl-6 mb-4">
                    <!-- All Expanses -->
                    <div class="card">
                        <div class="card-header">
                            <h6>All Expenses</h6>
                        </div>
                        <div class="card-body">
                            <div id="d2c_dashboard_radialBarChart"></div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col">
                                    <p class="mb-0">Daily</p>
                                    <p>$678.09</p>
                                </div>
                                <div class="col">
                                    <p class="mb-0">Weekly</p>
                                    <p>$1,904.21</p>
                                </div>
                                <div class="col">
                                    <p class="mb-0">Monthly</p>
                                    <p>$29,904.21</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End:All Expanses -->
                </div>
            <!-- </div> -->
        </div>
    </div>

    <!-- Budget Goals -->
    <div class="col-xxl-3 mb-4">
        <div class="card">
            <div class="card-header">
                <h6 class="mb-0">Budget Goals</h6>
            </div>
            <div class="card-body mt-3">
                <!-- Facebook Ads -->
                <div class="card mb-4">
                    <div class="card-body d-flex align-items-center">
                        <div class="d2c_icon btn bg-primary text-primary rounded-circle bg-opacity-10">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="flex-1 w-100 ms-3">
                            <div class="d-flex justify-content-between mb-2">
                                Facebook Ads <span class="text-end"><span class="fw-bold">75</span> / 100</span>
                            </div>
                            <div class="progress bg-primary bg-opacity-10">
                                <div class="progress-bar bg-primary rounded" role="progressbar" aria-label="Basic example" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Youtube Premium -->
                <div class="card mb-4">
                    <div class="card-body d-flex align-items-center">
                        <div class="d2c_icon btn bg-info text-info rounded-circle bg-opacity-10">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="flex-1 w-100 ms-3">
                            <div class="d-flex justify-content-between mb-2">
                                Youtube Premium <span class="text-end"><span class="fw-bold">50</span> / 100</span>
                            </div>
                            <div class="progress bg-info bg-opacity-10">
                                <div class="progress-bar bg-info rounded" role="progressbar" aria-label="Basic example" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Skype Premium -->
                <div class="card">
                    <div class="card-body d-flex align-items-center">
                        <div class="d2c_icon btn bg-danger text-danger rounded-circle bg-opacity-10">
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <div class="flex-1 w-100 ms-3">
                            <div class="d-flex justify-content-between mb-2">
                                Skype Premium <span class="text-end"><span class="fw-bold">30</span> / 100</span>
                            </div>
                            <div class="progress bg-danger bg-opacity-10">
                                <div class="progress-bar bg-danger rounded" role="progressbar" aria-label="Basic example" style="width: 30%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12 mb-4">
        <!-- Basic Table -->
        <div class="card h-auto d2c_projects_datatable">
            <div class="card-header">
                <h6>Advance Table</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table" id="d2c_advanced_table">
                        <thead>
                            <tr>
                                <th style="min-width: 170px;">Date</th>
                                <th style="min-width: 170px;">Customer</th>
                                <th style="min-width: 130px;">Group Name</th>
                                <th style="min-width: 130px;">Voucher</th>
                                <th style="min-width: 130px;">Payment Type</th>
                                <th style="min-width: 130px;">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label">
                                            20 Mar 2023
                                        </label>
                                    </div>
                                </td>
                                <td>Jane Cooper</td>
                                <td>Supplier</td>
                                <td>58755</td>
                                <td class="text-warning">Pending</td>
                                <td>$4,323.39</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label">
                                            19 Jan 2023
                                        </label>
                                    </div>
                                </td>
                                <td>Alex Cooper</td>
                                <td>Vendor</td>
                                <td>58723</td>
                                <td class="text-success">Delivered</td>
                                <td>$2,432.39</td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox">
                                        <label class="form-check-label">
                                            16 Mar 2023
                                        </label>
                                    </div>
                                </td>
                                <td>Hales Jane</td>
                                <td>Customer</td>
                                <td>58712</td>
                                <td class="text-danger">Unpaid</td>
                                <td>$1,582.87</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- End:Advanced Table -->
    </div>
</div>
{{ end }}