{{ define "sidebar" }}
<!-- Main sidebar -->
<div class="d2c_sidebar offcanvas-lg offcanvas-start p-4 pe-lg-2" tabindex="-1" id="d2c_sidebar">
    <div class="d-flex flex-column">
        <!-- Logo -->
        <a href="/index.html" class="mb-5 brand-icon">
            <img class="navbar-brand" src="/assets/images/logo/logo.png" alt="logo">
        </a>
        <!-- End:Logo -->

        <!-- Profile -->
        <div class="card d2c_profile_card text-center mb-4">
            <!-- Profile Image -->
            <a href="/pages/elements/profile.html">
                <img class="rounded-circle d2c_profile_image position-absolute top-0 start-50 translate-middle mb-2" src="/assets/images/profile/profile-1.jpg" alt="d2c Profile Image">
            </a>
            <!-- End:Profile Image-->
            <div class="card-body mt-4">
                <h6 class="fw-bold mb-3">Wade Warren</h6>
            </div>
        </div>
        <!-- End:Profile -->

        <!-- Menu -->
        <div class="card d2c_menu_card mb-4">
            <div class="card-body">
                <ul class="navbar-nav flex-grow-1">
                    <!-- Menu Item -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span>Menu</span>
                        </a>
                        <!-- Sub Menu -->
                        <ul class="sub-menu collapse show">
                            <!-- Sub Menu Item -->
                            <li class="nav-item active">
                                <a class="sub-menu-link" href="/index.html">
                                    <span class="d2c_icon">
                                        <i class="fas fa-home"></i>
                                    </span>
                                    <span>
                                        Overview
                                    </span>
                                </a>
                            </li>
                            <!-- End:Sub Menu Item -->

                            <!-- Sub Menu Item -->
                            <li class="nav-item">
                                <a class="sub-menu-link" href="/pages/payment.html">
                                    <span class="d2c_icon">
                                        <i class="fas fa-money-check-alt"></i>
                                    </span>
                                    <span>
                                        Payment
                                    </span>
                                </a>
                            </li>
                            <!-- End:Sub Menu Item -->

                            <!-- Sub Menu Item -->
                            <li class="nav-item">
                                <a class="sub-menu-link" href="/pages/transaction.html">
                                    <span class="d2c_icon">
                                        <i class="fas fa-list-alt"></i>
                                    </span>
                                    <span>
                                        Transaction
                                    </span>
                                </a>
                            </li>
                            <!-- End:Sub Menu Item -->

                            <!-- Sub Menu Item -->
                            <li class="nav-item">
                                <a class="sub-menu-link" href="/pages/wallet.html">
                                    <span class="d2c_icon">
                                        <i class="fas fa-wallet"></i>
                                    </span>
                                    <span>
                                        Wallet
                                    </span>
                                </a>
                            </li>
                            <!-- End:Sub Menu Item -->

                            <!-- Sub Menu Item -->
                            <!-- <li class="nav-item">
                                <a class="sub-menu-link" href="/pages/investment.html">
                                    <span class="d2c_icon">
                                        <i class="fas fa-network-wired"></i>
                                    </span>
                                    <span>
                                        Investment
                                    </span>
                                </a>
                            </li>
                            <!-- End:Sub Menu Item -->



                            <!-- Sub Menu Item -->
                            <!-- <li class="nav-item">
                                <a class="sub-menu-link" href="/pages/stocksFund.html">
                                    <span class="d2c_icon">
                                        <i class="fas fa-chart-line"></i>
                                    </span>
                                    <span>
                                        Stock & Fund
                                    </span>
                                </a>
                            </li>
                            End:Sub Menu Item -->
                        </ul>
                        <!-- End:Sub Menu -->
                    </li>
                    <!-- End:Menu Item -->



                    <!-- Menu Item -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span>Extra</span>
                        </a>

                        <!-- Sub Menu-->
                        <ul class="sub-menu collapse show" id="extra">

                            <!-- Sub Menu Item -->
                            <li class="nav-item">
                                <a class="sub-menu-link" href="/pages/faq.html">
                                    <span class="d2c_icon">
                                        <i class="fas fa-question-circle"></i>
                                    </span>
                                    <span>
                                        FAQ
                                    </span>
                                </a>
                            </li>
                            <!-- End:Sub Menu Item -->
                        </ul>
                        <!-- End:Sub Menu -->
                    </li>
                    <!-- End:Menu Item -->
                </ul>
            </div>
        </div>
        <!-- End:Menu -->

        <!-- Logout -->
        <div class="card d2c_single_menu mb-4">
            <div class="card-body p-0">
                <ul class="navbar-nav">
                    <!-- Item -->
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span class="d2c_icon text-danger">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            <span>
                                Logout
                            </span>
                        </a>
                    </li>
                    <!-- End:Item -->
                </ul>
            </div>
        </div>
        <!-- End:Logout -->

        <!-- Theme Mode -->
        <div class="card d2c_switch_card">
            <div class="card-body p-0">
                <ul class="navbar-nav">
                    <!-- Item -->
                    <li class="nav-item d-flex align-items-center">
                        <span class="d2c_icon">
                            <i class="fas fa-moon"></i>
                        </span>
                        <span>Dark Mood</span>
                        <span class="form-switch d-flex ms-auto">
                            <input class="form-check-input" id="d2c_theme_changer" type="checkbox" role="switch">
                        </span>
                    </li>
                    <!-- End:Item -->
                </ul>
            </div>
        </div>
        <!-- End:Theme Mode -->
    </div>
</div>
<!-- End:Sidebar -->
{{end}}