 <!-- Main Body-->
<div class="d2c_main p-4 ps-lg-3">

    <!-- Title -->
    <h4 class="mb-4 text-capitalize">Payment</h4>
    <!-- End:Title -->

    <a href="../pages/createPayments.html" class="btn btn-primary mb-4"><i class="fas fa-plus"></i> Create Payment</a>

    <div class="row">
        <div class="col-lg-12">
            <div class="card h-auto d2c_projects_datatable">
                <div class="card-header">
                    <h6>Payment Data</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive table-responsive">
                        <table class="table" id="d2c_advanced_table_2">
                            <thead>
                                <tr>
                                    <th style="min-width: 150px;">Date</th>
                                    <th style="min-width: 150px;">Customer</th>
                                    <th style="min-width: 130px;">Group Name</th>
                                    <th style="min-width: 130px;">Voucher</th>
                                    <th style="min-width: 130px;">Payment Type</th>
                                    <th style="min-width: 130px;">Amount</th>
                                    <th style="min-width: 130px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>20 Mar 2023</td>
                                    <td>Jane Cooper</td>
                                    <td>Supplier</td>
                                    <td>58755</td>
                                    <td>Cash</td>
                                    <td>$4,582.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>22 Mar 2023</td>
                                    <td>Lina Davis</td>
                                    <td>Vendor</td>
                                    <td>34755</td>
                                    <td>Bank</td>
                                    <td>$3,582.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>26 Mar 2023</td>
                                    <td>Terry Acker</td>
                                    <td>Customer</td>
                                    <td>58342</td>
                                    <td>Card</td>
                                    <td>$2,456.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>28 Mar 2023</td>
                                    <td>Pedro Myers</td>
                                    <td>Vendor</td>
                                    <td>37755</td>
                                    <td>Bank</td>
                                    <td>$2,582.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>29 Mar 2023</td>
                                    <td>Cory Cash</td>
                                    <td>Customer</td>
                                    <td>25875</td>
                                    <td>card</td>
                                    <td>$5,362.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>1 April 2023</td>
                                    <td>Fred Proctor</td>
                                    <td>Vendor</td>
                                    <td>18655</td>
                                    <td>Bank</td>
                                    <td>$1,582.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2 April 2023</td>
                                    <td>Fred B. Proctor</td>
                                    <td>Expense</td>
                                    <td>43755</td>
                                    <td>Cash</td>
                                    <td>$7,582.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6 April 2023</td>
                                    <td>Thomas Fargo</td>
                                    <td>Vendor</td>
                                    <td>56289</td>
                                    <td>Cash</td>
                                    <td>$4,582.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>10 April 2023</td>
                                    <td>Alfred Brown</td>
                                    <td>Customer</td>
                                    <td>76755</td>
                                    <td>Card</td>
                                    <td>$4,456.30</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>11 April 2023</td>
                                    <td>Jane Cooper</td>
                                    <td>Supplier</td>
                                    <td>87695</td>
                                    <td>Bank</td>
                                    <td>$5,234.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>20 April 2023</td>
                                    <td>Toby Kellum</td>
                                    <td>Supplier</td>
                                    <td>89765</td>
                                    <td>Bank</td>
                                    <td>$4,582.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>26 April 2023</td>
                                    <td>Ken Davis</td>
                                    <td>Vendor</td>
                                    <td>36786</td>
                                    <td>Card</td>
                                    <td>$3,908.30</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>29 April 2023</td>
                                    <td>Jane Cooper</td>
                                    <td>Supplier</td>
                                    <td>34565</td>
                                    <td>Cash</td>
                                    <td>$2,343.39</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Action
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a class="dropdown-item" href="#">Edit</a></li>
                                                <li><a class="dropdown-item" href="#">Delete</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:Main Body -->