{{ define "title" }}signup{{ end }}

{{ define "content" }}
<div class="d2c_login_wrapper">
    <div class="text-center mb-4">
        <h4 class="text-capitalize">Create your account</h4>
        <p class="text-muted">Already have an account? <a href="/signin" class="text-capitalize text-primary text-decoration-none d2c_link">Sign in here</a>
        </p>
    </div>
    <form class="form-validation" method="post" action="/signup" novalidate>
        <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" id="name" class="form-control" placeholder="Enter your name" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Your Email</label>
            <input type="email" id="email" class="form-control" placeholder="Enter your mail" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <div class="input-group">
                <input type="password" class="form-control border-end-0" id="password" placeholder="8+ character required" aria-describedby="button-addon2" required>
            </div>
        </div>

        <!-- TODO -->
        <!-- <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label text-muted" for="exampleCheck1">I accept the <a href="#" class="d2c_link text-primary text-capitalize">Terms and Conditions</a></label>
        </div> -->
        
        <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100 text-capitalize">Sign Up</button>
        </div>
    </form>

    <!-- TODO -->
    <!-- <button class="d2c_link_btn btn w-100 d-flex align-items-center justify-content-center text-capitalize">
        <img src="../../assets/images/google.png" class="me-2" alt="google image">
        Sign up With Google
    </button> -->

</div>
{{end}}