<!-- Main Body-->
<div class="d2c_main p-4 ps-lg-3">

    <!-- Title -->
    <h4 class="mb-4 text-capitalize">Community</h4>
    <!-- End:Title -->

    <div class="row">
        <div class="col-md-6 col-xxl-4 mb-4">
            <div class="card d2c_community_chart">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xxl-8">
                            <h4 class="d2c_chart_title">Total Clients</h4>
                            <h3 class="fw-bold">470</h3>
                        </div>
                        <div class="col-xxl d-flex justify-content-end">
                            <div class="dropdown">
                                <button class="btn px-1" type="button" id="dropdownMenuButton11" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton11">
                                    <li><a class="dropdown-item" href="#">Premium</a></li>
                                    <li><a class="dropdown-item" href="#">Regular</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- clients area chart -->
                    <div id="clients_area_chart"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xxl-4 mb-4">
            <div class="card d2c_community_chart">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xxl-8">
                            <h4 class="d2c_chart_title">Sessions</h4>
                            <h3 class="fw-bold">47</h3>
                        </div>
                        <div class="col-xxl d-flex justify-content-end">
                            <div class="dropdown">
                                <button class="btn px-1" type="button" id="dropdownMenuButton12" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton12">
                                    <li><a class="dropdown-item" href="#">Premium</a></li>
                                    <li><a class="dropdown-item" href="#">Regular</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- sessions chart -->
                    <div id="sessions_area_chart"></div>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 mb-4">
            <div class="card d2c_community_chart">
                <div class="card-body">
                    <div class="row">
                        <div class="col-xxl-8">
                            <h4 class="d2c_chart_title">Engagement Rate</h4>
                            <h3 class="fw-bold">75%</h3>
                        </div>
                        <div class="col-xxl d-flex justify-content-end">
                            <div class="dropdown">
                                <button class="btn px-1" type="button" id="dropdownMenuButton13" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton13">
                                    <li><a class="dropdown-item" href="#">Premium</a></li>
                                    <li><a class="dropdown-item" href="#">Regular</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- sessions chart -->
                    <div id="engagement_area_chart"></div>
                </div>
            </div>
        </div>
        <!-- Ranks table -->
        <div class="col-xxl-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="fw-semibold mb-4">Ranks</h5>
                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead>
                                <tr>
                                    <th>User ID</th>
                                    <th>Name</th>
                                    <th>Category</th>
                                    <th>Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>John</td>
                                    <td>IT Solution</td>
                                    <td>50</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Jane</td>
                                    <td>SEO Marketing</td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Mike</td>
                                    <td>Redesign Website</td>
                                    <td>80</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sara</td>
                                    <td>Custom Web</td>
                                    <td>20</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Tom</td>
                                    <td>Database </td>
                                    <td>70</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td>Kate</td>
                                    <td>SaaS</td>
                                    <td>40</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td>Alex</td>
                                    <td>Database </td>
                                    <td>70</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- events card column -->
        <div class="col-xxl-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="fw-semibold mb-4">Events</h5>
                    <!-- events cards item -->
                    <div class="d2c_events_card_wrapper p-3 mb-4">
                        <div class="row">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <div class="d2c_events d-flex align-items-center">
                                    <div class="d2c_dollar_icon rounded-circle text-primary d-flex align-items-center justify-content-center me-3">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                    <div>
                                        <h5 class="text-capitalize">Apple Store</h5>
                                        <p class="mb-0">E-commerce</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md mb-3 mb-md-0">
                                <div class="d2c_events">
                                    <h5>$54,000</h5>
                                    <p class="mb-0">Investment Value</p>
                                </div>
                            </div>
                            <div class="col-md mb-0">
                                <div class="d2c_events">
                                    <h5>Date</h5>
                                    <p class="mb-0">28 Mar 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- events cards item -->
                    <div class="d2c_events_card_wrapper p-3 mb-4">
                        <div class="row">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <div class="d2c_events d-flex align-items-center">
                                    <div class="d2c_dollar_icon rounded-circle text-primary d-flex align-items-center justify-content-center me-3">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                    <div>
                                        <h5 class="text-capitalize">Samsung Mobile</h5>
                                        <p class="mb-0">E-commerce</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md mb-3 mb-md-0">
                                <div class="d2c_events">
                                    <h5>$25,300</h5>
                                    <p class="mb-0">Investment Value</p>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="d2c_events">
                                    <h5>Date</h5>
                                    <p class="mb-0">29 Mar 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- events cards item -->
                    <div class="d2c_events_card_wrapper p-3 mb-4">
                        <div class="row">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <div class="d2c_events d-flex align-items-center">
                                    <div class="d2c_dollar_icon rounded-circle text-primary d-flex align-items-center justify-content-center me-3">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                    <div>
                                        <h5 class="text-capitalize">Tesla Motors</h5>
                                        <p class="mb-0">E-commerce</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md mb-3 mb-md-0">
                                <div class="d2c_events">
                                    <h5>$8,200</h5>
                                    <p class="mb-0">Investment Value</p>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="d2c_events">
                                    <h5>Date</h5>
                                    <p class="mb-0">19 Jun 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- events cards item -->
                    <div class="d2c_events_card_wrapper p-3">
                        <div class="row">
                            <div class="col-md-5 mb-3 mb-md-0">
                                <div class="d2c_events d-flex align-items-center">
                                    <div class="d2c_dollar_icon rounded-circle text-primary d-flex align-items-center justify-content-center me-3">
                                        <i class="fas fa-dollar-sign"></i>
                                    </div>
                                    <div>
                                        <h5 class="text-capitalize">Vivo Mobile</h5>
                                        <p class="mb-0">E-commerce</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md mb-3 mb-md-0">
                                <div class="d2c_events">
                                    <h5>$300</h5>
                                    <p class="mb-0">Investment Value</p>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="d2c_events">
                                    <h5>Date</h5>
                                    <p class="mb-0">10 Mar 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- members card -->
        <div class="col-xxl-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="fw-semibold mb-4">Members</h5>
                    <div class="row">
                        <!-- members card item -->
                        <div class="col-md-6 p-2">
                            <div class="p-4 d2c_members_card">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/avatar/man-1.png" class="img-fluid d2c_member_profile rounded-circle me-3" alt="profile image">
                                    <div>
                                        <h6 class="mb-0">Kathryn Murphy</h6>
                                        <p class="mb-0 d2c_member_address">Manchester, Uk</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="d2c_members_footer d-flex align-items-center justify-content-between">
                                    <p class="mb-0">Rank:</p>
                                    <p class="mb-0">95</p>
                                </div>
                            </div>
                        </div>
                        <!-- members card item -->
                        <div class="col-md-6 p-2">
                            <div class="p-4 d2c_members_card">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/avatar/man-2.png" class="img-fluid d2c_member_profile rounded-circle me-3" alt="profile image">
                                    <div>
                                        <h6 class="mb-0">Oscar Linch</h6>
                                        <p class="mb-0 d2c_member_address">London, Uk</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="d2c_members_footer d-flex align-items-center justify-content-between">
                                    <p class="mb-0">Rank:</p>
                                    <p class="mb-0">78</p>
                                </div>
                            </div>
                        </div>
                        <!-- members card item -->
                        <div class="col-md-6 p-2">
                            <div class="p-4 d2c_members_card">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/avatar/man-3.png" class="img-fluid d2c_member_profile rounded-circle me-3" alt="profile image">
                                    <div>
                                        <h6 class="mb-0">Rodney Murphy</h6>
                                        <p class="mb-0 d2c_member_address">Luton, Uk</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="d2c_members_footer d-flex align-items-center justify-content-between">
                                    <p class="mb-0">Rank:</p>
                                    <p class="mb-0">45</p>
                                </div>
                            </div>
                        </div>
                        <!-- members card item -->
                        <div class="col-md-6 p-2">
                            <div class="p-4 d2c_members_card">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/avatar/man-4.png" class="img-fluid d2c_member_profile rounded-circle me-3" alt="profile image">
                                    <div>
                                        <h6 class="mb-0">Richard J. Williams</h6>
                                        <p class="mb-0 d2c_member_address">Los Angeles</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="d2c_members_footer d-flex align-items-center justify-content-between">
                                    <p class="mb-0">Rank:</p>
                                    <p class="mb-0">55</p>
                                </div>
                            </div>
                        </div>
                        <!-- members card item -->
                        <div class="col-md-6 p-2">
                            <div class="p-4 d2c_members_card">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/avatar/man-5.png" class="img-fluid d2c_member_profile rounded-circle me-3" alt="profile image">
                                    <div>
                                        <h6 class="mb-0">Pollard Hales</h6>
                                        <p class="mb-0 d2c_member_address">New York</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="d2c_members_footer d-flex align-items-center justify-content-between">
                                    <p class="mb-0">Rank:</p>
                                    <p class="mb-0">33</p>
                                </div>
                            </div>
                        </div>
                        <!-- members card item -->
                        <div class="col-md-6 p-2">
                            <div class="p-4 d2c_members_card">
                                <div class="d-flex align-items-center">
                                    <img src="../assets/images/avatar/man-6.png" class="img-fluid d2c_member_profile rounded-circle me-3" alt="profile image">
                                    <div>
                                        <h6 class="mb-0">Michael Davidson</h6>
                                        <p class="mb-0 d2c_member_address">Cardiff,Wales</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="d2c_members_footer d-flex align-items-center justify-content-between">
                                    <p class="mb-0">Rank:</p>
                                    <p class="mb-0">33</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- chats -->
        <div class="col-xxl-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="fw-semibold mb-4">Chats</h5>
                    <div class="d2c_chat_box d2c_community_chat">
                        <div class="d2c_chat_header">
                            <div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <a href="#">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </a>
                                    <span class="position-absolute start-100 translate-middle badge border border-light rounded-circle bg-success p-1"></span>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <strong>Selena Wagner</strong>
                                </div>
                                <div>
                                    <button class="btn d2c_communication">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="position-relative">
                            <div class="chat-messages">
                                <div class="chat-message-right pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">It’s Great opportunity to work.</div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">Yeah,Of Course.</div>
                                </div>

                                <div class="chat-message-right mb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">Cum ea graeci tractatos.</div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">Sed pulvinar, massa vitae interdum pulvinar</div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">Cras pulvinar, sapien id vehicula aliquet, diam velit elementum orci.</div>
                                </div>

                                <div class="chat-message-right mb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">
                                        Lorem ipsum dolor sit amet, vis erat denique in, dicunt
                                        prodesset te vix.
                                    </div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">
                                        Sit meis deleniti eu, pri vidit meliore docendi ut, an eum
                                        erat animal commodo.
                                    </div>
                                </div>

                                <div class="chat-message-right mb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">
                                        Cum ea graeci tractatos.
                                    </div>
                                </div>

                                <div class="chat-message-right mb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">
                                        Morbi finibus, lorem id placerat ullamcorper, nunc enim
                                        ultrices massa, id dignissim metus urna eget purus.
                                    </div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">
                                        Risus lectus porttitor magna, vitae commodo lectus mauris et velit.
                                    </div>
                                </div>

                                <div class="chat-message-right mb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">
                                        Lorem ipsum dolor sit amet, vis erat denique in, dicunt
                                        prodesset te vix.
                                    </div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">
                                        Sit meis deleniti eu, pri vidit meliore docendi ut, an eum
                                        erat animal commodo.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-4 d2c_chat_footer">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="w-100 d-flex justify-content-start align-items-center d2c_input_wrapper px-2">
                                    <a class="px-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                                    <a class="px-1 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                                    <input type="text" class="form-control py-2 px-1 border-0" id="chatBox" placeholder="Message...">
                                </div>
                                <button class="btn ms-2 text-primary">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>
<!-- End:Main Body -->
</div>

<!-- Offcanvas Toggler -->
<button class="d2c_offcanvas_toggle position-fixed top-50 start-0 translate-middle-y d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#d2c_sidebar">
    <i class="far fa-hand-point-right"></i>
</button>
<!-- End:Offcanvas Toggler -->

<!-- Initial  Javascript -->
<script src="../lib/jQuery/jquery-3.5.1.min.js"></script>
<script src="../lib/bootstrap_5/bootstrap.bundle.min.js"></script>

<!-- apexChart -->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!-- custom js -->
<script src="../assets/js/main.js"></script>

<script>
    // Area Chart
    function clients_area_chart() {
        var options = {
            series: [
                {
                    name: 'Revenue',
                    data: [10, 30, 20, 35, 20, 25, 40],
                },
            ],
            chart: {
                type: 'area',
                height: 200,
                stacked: true,
                toolbar: {
                    show: true,
                }
            },
            colors: ['rgba(0, 170, 93, 0.2)'],
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                curve: 'straight',
                colors: ['#00AA5D'],
                width: 2,
            },
            fill: {
                type: 'gradient',
                gradient: {
                    opacityFrom: 0.8,
                    opacityTo: 0.8,
                }
            },
            grid: {
                show: true,
                borderColor: '#00000010',
                padding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
            },
            xaxis: {
                labels: {
                    show: false,
                },
                axisTicks: {
                    show: false,
                }
            },
            yaxis: {
                labels: {
                    show: false,
                },
                axisTicks: {
                    show: false,
                }
            },
            tooltip: {
                style: {
                    color: '#EF4E4E',
                    fontFamily: undefined
                },
            },
            theme: {
                mode: 'light',
                palette: 'palette1',
                monochrome: {
                    enabled: false,
                    color: '#EF4E4E',
                    shadeTo: 'light',
                    shadeIntensity: 0.65
                },
            }
        };

        var chart = new ApexCharts(document.querySelector("#clients_area_chart"), options);
        chart.render();

    } clients_area_chart();

    // Area Chart
    function sessions_area_chart() {
        var options = {
            series: [
                {
                    name: 'Revenue',
                    data: [10, 30, 20, 35, 20, 25, 40],
                },
            ],
            chart: {
                type: 'area',
                height: 200,
                stacked: true,
                toolbar: {
                    show: true,
                }
            },
            colors: ['rgba(0, 170, 93, 0.2)'],
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                curve: 'straight',
                colors: ['#00AA5D'],
                width: 2,
            },
            fill: {
                type: 'gradient',
                gradient: {
                    opacityFrom: 0.8,
                    opacityTo: 0.8,
                }
            },
            grid: {
                show: true,
                borderColor: '#00000010',
                padding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
            },
            xaxis: {
                labels: {
                    show: false,
                },
                axisTicks: {
                    show: false,
                }
            },
            yaxis: {
                labels: {
                    show: false,
                },
                axisTicks: {
                    show: false,
                }
            },
        };

        var chart = new ApexCharts(document.querySelector("#sessions_area_chart"), options);
        chart.render();

    } sessions_area_chart();

    // Area Chart
    function engagement_area_chart() {
        var options = {
            series: [
                {
                    name: 'Revenue',
                    data: [10, 30, 20, 35, 20, 25, 40],
                },
            ],
            chart: {
                type: 'area',
                height: 200,
                stacked: true,
                toolbar: {
                    show: true,
                }
            },
            colors: ['rgba(0, 170, 93, 0.2)'],
            dataLabels: {
                enabled: false
            },
            stroke: {
                show: true,
                curve: 'straight',
                colors: ['#00AA5D'],
                width: 2,
            },
            fill: {
                type: 'gradient',
                gradient: {
                    opacityFrom: 0.8,
                    opacityTo: 0.8,
                }
            },
            grid: {
                show: true,
                borderColor: '#00000010',
                padding: {
                    top: 0,
                    right: 0,
                    bottom: 0,
                    left: 0
                },
            },
            xaxis: {
                labels: {
                    show: false,
                },
                axisTicks: {
                    show: false,
                }
            },
            yaxis: {
                labels: {
                    show: false,
                },
                axisTicks: {
                    show: false,
                }
            },
        };

        var chart = new ApexCharts(document.querySelector("#engagement_area_chart"), options);
        chart.render();

    } engagement_area_chart();

</script>