<!-- Main Body-->
<div class="d2c_main p-4 ps-lg-3">

    <!-- Title -->
    <h4 class="mb-4">Help And Support</h4>
    <!-- End:Title -->

    <div class="row">
        <div class="col-xxl-8 mb-4">
            <div class="card">
                <div class="card-body table-responsive">
                    <h5 class="fw-semibold mb-4">Help</h5>
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th style="min-width: 110px;">User ID</th>
                                <th style="min-width: 100px;">Priority</th>
                                <th style="min-width: 150px;">Date</th>
                                <th style="min-width: 280px;">Problem</th>
                                <th style="min-width: 120px;">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1001</td>
                                <td>High</td>
                                <td>2022-01-01</td>
                                <td>Cannot access email</td>
                                <td>Open</td>
                            </tr>
                            <tr>
                                <td>1002</td>
                                <td>Low</td>
                                <td>2022-01-02</td>
                                <td>Printer not working</td>
                                <td>Open</td>
                            </tr>
                            <tr>
                                <td>1003</td>
                                <td>Medium</td>
                                <td>2022-01-03</td>
                                <td>Software installation issue</td>
                                <td>Assigned</td>
                            </tr>
                            <tr>
                                <td>1004</td>
                                <td>High</td>
                                <td>2022-01-04</td>
                                <td>Internet connection problem</td>
                                <td>Assigned</td>
                            </tr>
                            <tr>
                                <td>1005</td>
                                <td>Low</td>
                                <td>2022-01-05</td>
                                <td>Need access to shared folder</td>
                                <td>Resolved</td>
                            </tr>
                            <tr>
                                <td>1006</td>
                                <td>Medium</td>
                                <td>2022-01-06</td>
                                <td>Cannot open PDF files</td>
                                <td>Resolved</td>
                            </tr>
                            <tr>
                                <td>1007</td>
                                <td>Low</td>
                                <td>2022-01-07</td>
                                <td>Need password reset</td>
                                <td>Resolved</td>
                            </tr>
                            <tr>
                                <td>1008</td>
                                <td>High</td>
                                <td>2022-01-08</td>
                                <td>System error message</td>
                                <td>Closed</td>
                            </tr>
                            <tr>
                                <td>1009</td>
                                <td>Medium</td>
                                <td>2022-01-09</td>
                                <td>Slow computer performance</td>
                                <td>Closed</td>
                            </tr>
                            <tr>
                                <td>1010</td>
                                <td>High</td>
                                <td>2022-01-10</td>
                                <td>Email spam issue</td>
                                <td>Closed</td>
                            </tr>
                            <tr>
                                <td>1011</td>
                                <td>High</td>
                                <td>2022-01-08</td>
                                <td>System error message</td>
                                <td>Closed</td>
                            </tr>
                            <tr>
                                <td>1012</td>
                                <td>Medium</td>
                                <td>2022-01-09</td>
                                <td>Slow computer performance</td>
                                <td>Closed</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <!-- support chat  -->
        <div class="col-xxl mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="fw-semibold mb-4">Support</h5>
                    <div class="d2c_chat_box">
                        <div class="d2c_chat_header">
                            <div class="d-flex align-items-center py-1">
                                <div class="position-relative">
                                    <a href="#">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </a>
                                    <span class="position-absolute start-100 translate-middle badge border border-light rounded-circle bg-success p-1"></span>
                                </div>
                                <div class="flex-grow-1 ms-3">
                                    <strong>Selena Wagner</strong>
                                </div>
                                <div>
                                    <button class="btn d2c_communication">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="position-relative">
                            <div class="chat-messages">
                                <div class="chat-message-right pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">It’s Great opportunity to work.</div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">Yeah,Of Course.</div>
                                </div>

                                <div class="chat-message-right mb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">Cum ea graeci tractatos.</div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">Sed pulvinar, massa vitae interdum pulvinar</div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">Cras pulvinar, sapien id vehicula aliquet, diam velit elementum orci.</div>
                                </div>

                                <div class="chat-message-right mb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">
                                        Lorem ipsum dolor sit amet, vis erat denique in, dicunt
                                        prodesset te vix.
                                    </div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">
                                        Sit meis deleniti eu, pri vidit meliore docendi ut, an eum
                                        erat animal commodo.
                                    </div>
                                </div>

                                <div class="chat-message-right mb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">
                                        Cum ea graeci tractatos.
                                    </div>
                                </div>

                                <div class="chat-message-right mb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">
                                        Morbi finibus, lorem id placerat ullamcorper, nunc enim
                                        ultrices massa, id dignissim metus urna eget purus.
                                    </div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">
                                        Risus lectus porttitor magna, vitae commodo lectus mauris et velit.
                                    </div>
                                </div>

                                <div class="chat-message-right mb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="rounded-circle mr-1" alt="Chris Wood" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 me-3">
                                        Lorem ipsum dolor sit amet, vis erat denique in, dicunt
                                        prodesset te vix.
                                    </div>
                                </div>

                                <div class="chat-message-left pb-4">
                                    <div>
                                        <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="rounded-circle mr-1" alt="Sharon Lessman" width="40" height="40">
                                    </div>
                                    <div class="flex-shrink-1 p-2 ms-3">
                                        Sit meis deleniti eu, pri vidit meliore docendi ut, an eum
                                        erat animal commodo.
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="p-4 d2c_chat_footer">
                            <div class="d-flex justify-content-start align-items-center">
                                <div class="w-100 d-flex justify-content-start align-items-center d2c_input_wrapper px-2">
                                    <a class="px-1 text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
                                    <a class="px-1 text-muted" href="#!"><i class="fas fa-smile"></i></a>
                                    <input type="text" class="form-control py-2 px-1 border-0" id="chatBox" placeholder="Message...">
                                </div>
                                <button class="btn ms-2 text-primary">
                                    <i class="fas fa-paper-plane"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End:Main Body -->
