<div class="col-xl-6 mb-4">
    <!-- Balance Summary -->
    <div class="card h-100">
        <div class="card-header">
            <h6>Balance Summary</h6>
            <h4 class="text-primary">$12,389.54</h4>
        </div>
        <div class="card-body">
            <div id="d2c_lineChart"></div>
        </div>
    </div>
    <!-- End:Balance Summary -->
</div>

<div class="col-xl-6 mb-4">
    <!-- Market Cap -->
    <div class="card h-100">
        <div class="card-header">
            <h6>Market Cap</h6>
        </div>
        <div class="card-body">
            <div id="d2c_dashboard_donutChart"></div>
        </div>
    </div>
    <!-- End:Market Cap -->
</div>

<div class="col-xl-6 mb-4">
    <!-- investment bar chart -->
    <div class="card">
        <div class="card-header">
            <h6>Investment</h6>
            <h4 class="text-primary">$78,537.48</h4>
        </div>
        <div class="card-body">
            <div id="d2c_investment_bar_chart"></div>
        </div>
    </div>
    <!-- End:investment -->
</div>

<div class="col-xl-6 mb-4">
    <!-- Balance -->
    <div class="card">
        <div class="card-header">
            <h6>Stock Watch list</h6>
            <h4 class="text-primary">$8,537.48</h4>
        </div>
        <div class="card-body">
            <div id="d2c_areaChart"></div>
        </div>
    </div>
    <!-- End:Balance -->
</div>