<!-- Visa Card -->
<div class="col-xl-4 col-md-6 mb-4">
    <div class="card h-100">
        <div class="master-card">
            <div class="top">
                <h4>Esther Howard</h4>
                <img src="https://cdn-icons-png.flaticon.com/512/1436/1436392.png" />
            </div>
            <div class="infos">
                <div class="card-number mb-2">
                    <p class="mb-0">Card Number</p>
                    <h4>5495 9549 2883 2434</h4>
                </div>
                <div class="bottom">
                    <aside class="infos--bottom">
                        <div class="me-2">
                            <p class="mb-2">Expiry date</p>
                            <h6>08/24</h6>
                        </div>
                        <div>
                            <p class="mb-2">CVV</p>
                            <h6>748</h6>
                        </div>
                    </aside>
                    <aside>
                        <img src="https://seeklogo.com/images/V/VISA-logo-DD37676279-seeklogo.com.png" class="brand" />
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>