{{ define "title" }}Error {{.Code}}{{ end }}

{{ define "content" }}
<section class="d2c_error d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-6 offset-md-1 offset-lg-3">
                <div class="d2c_error_content text-center">
                    <h1 class="text-primary fw-semibold">{{.Code}}</h1>
                    <h3 class="text-danger text-capitalize">Page Not Found</h3>
                    <p class="text-capitalize text-muted">Sorry! {{.Message}}!</p>
                    <a href="/dashboard" class="btn btn-primary">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}