{{ define "title" }}forgetpassword{{ end }}

{{ define "content" }}
<div class="d2c_login_wrapper">
    <div class="text-center mb-4">
        <h4 class="text-capitalize">Forget password?</h4>
        <p class="text-muted">Enter the email address & we'll send you instructions to reset your password.</p>
    </div>
    <form class="form-vaidation" novalidate>
        <div class="mb-3">
            <label class="form-label">Your Email</label>
            <input type="email" class="form-control" placeholder="Enter your mail" required>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100 text-capitalize">Submit</button>
        </div>
        <a href="/signin" class="d2c_link_btn btn w-100 d-flex align-items-center justify-content-center text-capitalize">
            Back To sign in
        </a>
    </form>
</div>
{{end}}