{{ define "title" }}signin{{ end }}

{{ define "content" }}
<div class="d2c_login_wrapper">
    <div class="text-center mb-4">
        <h4 class="text-capitalize">Welcome</h4>
        <p class="text-muted">Don't have an account? <a href="/signup" class="text-capitalize text-primary text-decoration-none d2c_link">Sign up here</a>
        </p>
    </div>
    <form class="form-validation" method="post" action="/signin" novalidate>
        <div class="mb-3">
            <label class="form-label">Your Email</label>
            <input type="email" id="email" class="form-control" placeholder="Enter your mail" required>
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <div class="input-group">
                <input type="password" id="password" class="form-control border-end-0" placeholder="Enter password" aria-describedby="button-addon2" required>
            </div>
        </div>

        <!-- TODO -->
        <!-- <div class="row mb-3">
            <div class="col">
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label text-muted" for="exampleCheck1">Remember Me</label>
                </div>
            </div>
            <div class="col text-end ps-0">
                <a href="../authentication/forgetPassword.html" class="d2c_link text-primary text-capitalize">Forget Password?</a>
            </div>
        </div> -->

        <div class="mb-3">
            <button type="submit" class="btn btn-primary w-100 text-capitalize">Sign In</button>
        </div>
    </form>

    <!--TODO-->
    <!-- <button class="d2c_link_btn btn w-100 d-flex align-items-center justify-content-center text-capitalize">
        <img src="/assets/images/google.png" class="me-2" alt="google image">
        Sing in With Google
    </button> -->

</div>
{{ end }}